/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0 auto;
  background-color: var(--bg-color, #f3efec);
  font-family: var(--main-font, sans-serif);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 130%;
  color: var(--text-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 41% 18% auto;
  margin-block-end: 40px;
  height: 100vh;
}

.content-section {
  padding: var(--main-padding);
}

.header__theme-menu {
  color: var(--menu-text-color);
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 0 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  padding: 0 13px;
  border: none;
  text-transform: lowercase;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.header.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--menu-text-color);
  border-right: 1px solid var(--menu-text-color);
}

.header.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--menu-text-color);
  border-left: 1px solid var(--menu-text-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-text-color);
}

.header__theme-menu-button_active:hover {
  border: 1px solid var(--hover-border-color);
}

button:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--menu-text-color);
}

a:focus {
  outline: 1px solid var(--menu-text-color);
  outline-offset: 2px;
}

.rec:focus {
  outline: 1px solid var(--menu-text-color);
}

.title {
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-weight: 700;
  line-height: 82.5%;
}

.header_title {
  margin-left: -20px;
}

.header__text {
  color: var(--header-text);
  font-weight: 700;
  line-height: 23.4px;
  align-self: center;
  justify-self: end;
  max-width: 491px;
}

.title-decor {
  background-color: var(--main-color);
}

.text-shadow {
  text-shadow: 2px 2px 0px var(--main-color);
  text-decoration: none;
}

.text-shadow:hover {
  border-bottom: 1px solid var(--text-color);
}

.rec {
  display: none;
  position: absolute;
  top: 22px;
  right: 45px;
  color: var(--accent-color);
}

.theme_dark .rec {
  display: block;
}

.rec::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  top: 6px;
  right: -15px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.text-block-one,
.text-block-three {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin-block-end: 40px;
}

h2.text-block__title {
  color: var(--h2-title-color);
  font-weight: 700;
  line-height: 130%;
  font-size: var(--font-size);
}

h3.text-block__title {
  color: var(--h3-title-color);
  font-weight: 700;
  line-height: 130%;
  font-size: var(--font-size);
}

.text-block-one__item,
.text-block-two__item,
.text-block-three__item {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.text-block-one__cards,
.text-block-three__cards {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  min-width: 352px;
}

.text-block-two {
  margin-block-end: 40px;
}

.text-block-two__cards {
  margin-block-start: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.gallery {
  margin-block-end: 40px;
}

.picture-gallery {
  margin-block-start: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(0, auto));
  grid-template-rows: repeat(3, minmax(0, auto));
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.picture_sunset {
  grid-area: sunset;
}

.picture_ice-cream {
  grid-area: ice-cream;
}

.picture_tape {
  grid-area: tape;
}

.picture_books {
  grid-area: books;
}

.picture_street {
  grid-area: street;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
}

.footer.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.footer.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}

.footer_title {
  margin-left: -20px;
  margin-top: 30.5%;
  align-self: center;
  margin-right: -20px;
}

.footer_focus-top-right {
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  align-self: flex-end;
}

.footer_focus-bottom-left {
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}

@media (max-width: 1000px) {
  .text-block-two__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .header {
    margin-block-end: 40px;
    grid-template-rows: 45% 10% auto;
  }

  .header__theme-menu {
    margin-top: 23.5%;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
    gap: 12px;
  }

  .header__text {
    padding-right: 40px;
    width: 364px;
  }

  .header_title {
    font-size: 120px;
  }

  .text-block-one,
  .text-block-three {
    grid-template-columns: 33vw auto;
    gap: 2px;
    margin-block-end: 40px;
  }

  h2.text-block__title {
    max-width: 236px;
  }

  .footer_title {
    margin-top: 61%;
    font-size: 120px;
  }
}

@media (max-width: 570px) {
  .text-block-one,
  .text-block-three {
    display: block;
  }

  h2.text-block__title {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 375px) {
  .header {
    margin-block-end: 30px;
    grid-template-rows: 35.5% 36.9% 20%;
  }

  .header__theme-menu {
    margin-top: 18%;
  }

  .picture-gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .content-section {
    padding: 10px;
  }

  .header_title {
    font-size: 120px;
    margin-left: 0;
    font-size: 116px;
  }

  .header__text {
    max-width: 355px;
  }

  .text-block-one,
  .text-block-three {
    margin-block-end: 30px;
  }

  .text-block-two {
    margin-block-end: 30px;
  }

  .picture-gallery {
    margin-block-start: 10px;
  }

  .footer_title {
    margin-top: 75%;
    font-size: 116px;
    margin-right: -20px;
  }

  .header.decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .header.decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }

  .footer.decorated-zone::after {
    top: 0px;
    right: 10px;
  }

  .footer.decorated-zone::before {
    bottom: 20px;
    left: 10px;
  }
}
