/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --hover-border-color: rgba(50, 49, 45, 0.4);
  --menu-text-color: #353430;
  --title-color: #353430;
  --bg-color: #fff1f7;
  --main-color: #ff8dcb;
  --header-text: #353430;
  --title-color: #ffc2e6;
  --h2-title-color: #353430;
  --h3-title-color: #353430;
  --accent-color: #ff0070;
  --text-color: #353430;
  --main-font: "IBM Plex Mono";
  --font-size: 18px;
  --font-size-big: 157px;
  --main-padding: 20px;
  --bg-image: url("../images/cover-image-light.png");
}
